#t-produto {
    margin: 40px;
}

#produto:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 1px 1px 12px 9px, rgba(0, 0, 0, 0.3) 0px 1px 1px 1px;
}

.icon-compra {
    width: 200px;
}

#produto {
    height: 450px;
}

#produto img {
    height: 60%;
}