.l-produtos {
    margin: 0%;
    margin-bottom: 10px;
}

.produto {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.produto img:hover {
    cursor: pointer;
}

.produto-icons {
    background-color: #f8f8f8;
    padding: 5px 10px;
}

.icon-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    transition: color 0.3s;
}

.icon-button:hover {
    color: #ff0000;
}

.produto-descricao {
    font-size: 13px;
    color: #434141;
}

.produto-preco {
    font-size: 20px;
}